In [187]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\urvisha\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\urvisha\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\urvisha\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\urvisha\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\urvisha\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sniffio in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\urvisha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\urvisha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\urvisha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\urvisha\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\urvisha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [8]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# Q-1  Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [6]:
# Opening the portal Naukri.com
driver.get('https://www.naukri.com/')

In [7]:
# Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [9]:
# Then click the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [10]:
job_title = []
company_name = []
job_location = []

In [11]:
# Then scrape the data for the first 10 jobs results you get.
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# Scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
print(len(job_title),len(company_name),len(job_location))

10 10 10

In [13]:
# Finally create a dataframe of the scraped data
df=pd.DataFrame({'Job':job_title,'Company':company_name,'Location':job_location})
df

,Job,Company,Location
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru
1,Senior Data Analyst,Optum,Bangalore/Bengaluru
2,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
3,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai"
4,Customer Data Analyst,Oracle,Bangalore/Bengaluru
5,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune"
6,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
7,Assistant Manager/Manager - Data Analyst - Ana...,Huquo Consulting Pvt. Ltd,"Bangalore/Bengaluru, Delhi / NCR"
8,Data Analyst - Decision Science,Jana Small Finance Bank,Bangalore/Bengaluru
9,Data Analyst,Encora,Bangalore/Bengaluru

# Q-2 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [14]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [15]:
# Opening the portal Naukri.com
driver.get('https://www.naukri.com/')

In [16]:
# Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [18]:
# Then click the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [19]:
job_title = []
company_name = []
job_location = []

In [20]:
# Then scrape the data for the first 10 jobs results you get.
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# Scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [21]:
print(len(job_title),len(company_name),len(job_location))

10 10 10

In [23]:
# Finally create a dataframe of the scraped data
df=pd.DataFrame({'Job':job_title,'Company':company_name,'Location':job_location})
df

,Job,Company,Location
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
1,Assistant Manager - Data Science,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune"
2,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
4,Data Scientist/AIML Engineer,upGrad,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Bangalore/Bengaluru
6,Lead ML Scientist,Fractal Analytics,"Bangalore/Bengaluru, Mumbai"
7,Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)"
8,Data Scientist - II,SMARTPADDLE TECHNOLOGY PVT. LTD.,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
9,Data Scientist - A.P. Maersk,Maersk,Bangalore/Bengaluru\n(WFH during Covid)

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [ ]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [ ]:
# Opening the portal Naukri.com
driver.get('https://www.naukri.com/')

In [ ]:
# Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [ ]:
# Then click the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
# apply the location filter
loc_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")
for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [ ]:
# Apply salary filter
sal_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [ ]:
job=[]
location=[]
company=[]
experience=[]

In [ ]:
# Scarping job title from the given page
job_tile=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job=[]
for i in job_title[0:10]:
    job.append(i.text)
    
# Scraping job location from the given page
loc=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLin location']")
location=[]
for i in loc[0:10]:
    location.append(i.text)

# Scraping company name from the given page
company_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company=[]
for i in company_name[0:10]:
    company.append(i.text)
    
# Scraping company name from the given page
company_name=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company=[]
for i in company_name[0:10]:
    company.append(i.text)

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [207]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [208]:
url="https://www.flipkart.com/"
driver.get(url)

In [209]:
# finding element for search bar
designation=driver.find_element(By.CLASS_NAME,'_3704LK')
designation.send_keys('sunglasses')

In [210]:
# Then click the search button
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [211]:
B_name=[]
P_desc=[]
Price=[]

In [212]:
# Scarping Brand name title from the given page
B_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
brand=[]
for i in B_name[:100]:
    brand.append(i.text)
    
# Scraping product description from the page
P_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
description=[]
for i in P_desc[:100]:
    description.append(i.text)
    
# Scraping price from the page

Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
Price=[]
for i in Price[:100]:
    price.append(i.text)

#scraping the list of buttons from the page
nxt_button=driver.find_elements(By.XPATH,"//a[@class='yFHi8N']")
nxt_button.click()

AttributeError: 'list' object has no attribute 'click'

In [205]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

40
0
40

(None, None, None)

In [206]:
#lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand': B_name,'Product_Description': P_desc,'Price':Price})

df

ValueError: All arrays must be of the same length

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [243]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [244]:
url="https://www.flipkart.com/"
driver.get(url)

In [245]:
#search the “i Phone 11” and click search button
search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('iphone 11')

In [246]:
#click on the search button

search_button =driver.find_element(By.CLASS_NAME,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

InvalidSelectorException: Message: invalid selector: An invalid or illegal selector was specified
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0068DF13+2219795]
	Ordinal0 [0x00622841+1779777]
	Ordinal0 [0x0053423D+803389]
	Ordinal0 [0x00536D04+814340]
	Ordinal0 [0x00536BC2+814018]
	Ordinal0 [0x00536E50+814672]
	Ordinal0 [0x00562D4F+994639]
	Ordinal0 [0x005631EB+995819]
	Ordinal0 [0x00590F52+1183570]
	Ordinal0 [0x0057E844+1108036]
	Ordinal0 [0x0058F192+1175954]
	Ordinal0 [0x0057E616+1107478]
	Ordinal0 [0x00557F89+950153]
	Ordinal0 [0x00558F56+954198]
	GetHandleVerifier [0x00982CB2+3040210]
	GetHandleVerifier [0x00972BB4+2974420]
	GetHandleVerifier [0x00726A0A+565546]
	GetHandleVerifier [0x00725680+560544]
	Ordinal0 [0x00629A5C+1808988]
	Ordinal0 [0x0062E3A8+1827752]
	Ordinal0 [0x0062E495+1827989]
	Ordinal0 [0x006380A4+1867940]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77DC90AF+1215]
	RtlGetFullPathName_UEx [0x77DC907D+1165]

In [247]:
#lets select the first phone

click_first_phone =driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
click_first_phone.click()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_xpath'

In [248]:
Rating = []
Review_summary = []
Full_review = []

rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
full_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

#for page in range(0,3):
for i in rating:
    Rating.append(i.text)
for o in review:
    Review_summary.append(o.text)
for p in full_review:
    Full_review.append(p.text)    
    
df = pd.DataFrame({'Rating':rating,'Review_summary':review,'Full_review':full_review})

df

AttributeError: 'WebDriver' object has no attribute 'find_elements_by_xpath'

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [249]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [250]:
driver.get('https://www.flipkart.com/')

In [251]:
pop_close = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
pop_close.click()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_xpath'

In [252]:
search_item = driver.find_element_by_class_name("_3704LK")
search_item.send_keys("sneakers")

AttributeError: 'WebDriver' object has no attribute 'find_element_by_class_name'

In [253]:
click_search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_search_button.click()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_xpath'

In [256]:
Brand = []
Product_Description = []
Price = []

for i in range(3):
    
    
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_des = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")


    for i in brand:
        Brand.append(i.text)
    for i in product_des:
        Product_Description.append(i.text)
    for i in price :
        Price.append(i.text)
    
time.sleep(3)

nxt_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
nxt_button.click()

AttributeError: 'WebDriver' object has no attribute 'find_elements_by_xpath'

In [257]:
print(len(Brand),len(Product_Description),len(Price))

0 0 0

In [258]:
df = pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

Empty DataFrame
Columns: [Brand, Product_Description, Price]
Index: []

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [259]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [260]:
driver.get('https://www.myntra.com/shoes')
time.sleep(2)

In [263]:
color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter.click()
time.sleep(3)

In [268]:
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()
time.sleep(3)

In [270]:
Shoe_des = []
Price = []

for i in range(2):
    
    brand = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    shoe_des = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    price = driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")


    for i in brand : Brand.append(i.text)
    for i in shoe_des: Shoe_des.append(i.text)
    for i in price : Price.append(i.text)
time.sleep(3)

nxt_page = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
nxt_page.click()

In [271]:
print(len(Brand),len(Shoe_des),len(Price))

100 100 100

In [272]:
SHOE_Data = pd.DataFrame({'Brand':Brand,'Shoe_des':Shoe_des,'Price':Price})
SHOE_Data

               Brand                        Shoe_des               Price
0   ADIDAS Originals        Men Niteball II Sneakers   Rs. 9349Rs. 10999
1               Nike  Men ZOOM WINFLO8 Running Shoes    Rs. 7880Rs. 8295
2               Nike    Men React Infinity 3 Running  Rs. 13295Rs. 13995
3   ADIDAS Originals   Men Leather Niteball Sneakers  Rs. 10799Rs. 11999
4               Puma    Eternity Nitro Running Shoes           Rs. 12999
..               ...                             ...                 ...
95  ADIDAS Originals        Men ZX 22 BOOST Sneakers  Rs. 10799Rs. 11999
96              Puma   Unisex Eliminate Pro II Shoes    Rs. 7199Rs. 8999
97  ADIDAS Originals        Men Retropy F90 Sneakers            Rs. 9999
98              Puma    Men Velocity Nitro 2 Running   Rs. 8799Rs. 10999
99    Tommy Hilfiger            Men Leather Sneakers            Rs. 8999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7"
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [425]:
import selenium
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd

# Lets first connect to the driver
driver=webdriver.Chrome()

In [426]:
# Opening the portal Amazon
url=" https://www.amazon.in "
driver.get(url)

In [427]:
#search_item = driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")

#search_item = driver.find_elements(By.ID, "twotabsearchtextbox")
search_item = driver.find_element(By.XPATH, "//input[@id='twotabsearchtextbox']")
search_item.send_keys("laptop")

In [428]:
click_search_button = driver.find_element(By.XPATH, "//input[@id='nav-search-submit-button']")
click_search_button.click()
time.sleep(3)

In [429]:
#select Intel Core i7 filter

intel_core7 = driver.find_element(By.XPATH, "//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label/i")
#intel_core7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i")
intel_core7.click()

time.sleep(5)

In [433]:
Title = []
Ratings = []
Price = []

title = driver.find_elements(By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")
#rating = driver.find_element(By.XPATH, "//span[@data-hook='acr-average-stars-rating-text']")
price = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")

for i in title:Title.append(i.text)
#for i in rating:Ratings.append(i.text)    
for j in price:Price.append(j.text)
    
#print(Price)
Laptop = pd.DataFrame({'Title':Title})
Laptop

                                                Title
0   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....
1   Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...
2   Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...
3   MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...
4   ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...
5   HP Victus 12th Gen Intel Core i7 15.6 inch(39....
6   ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...
7   DELL Alienware x14 Gaming Laptop, Intel i7-127...
8   Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...
9   ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...
10  ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cm...
11  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...
12  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...
13  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...
14  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...
15  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...
16  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...
17  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...
18  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...
19  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...
20  Infinix Intel IN Book X1 Pro Core i7 10th Gen ...
21  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...
22  HP Victus 12th Gen Intel Core i7 15.6 inch(39....
23  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
Click on the Job option as shown in the image
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
Then scrape the data for the first 10 jobs results you get on the above shown page.
Finally create a dataframe of the scraped data

In [583]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [584]:
driver.get('https://www.ambitionbox.com/')

In [585]:
click_on_jobs = driver.find_element(By.XPATH, "//a[@title='Jobs']")
click_on_jobs.click()

In [586]:
search_job = driver.find_element(By.XPATH, "//input[@name='ab_jobsSearch']")
search_job.click()

In [587]:
search_item = driver.find_element(By.XPATH, "//input[@name='ab_jobsSearch']")
search_item.send_keys("Data Scientist")
search_item.send_keys(Keys.ENTER)
#time.sleep(3)

In [588]:
location_click = driver.find_element(By.XPATH, "//div[@title='Location']")
location_click.click()

In [589]:
location_search = driver.find_element(By.XPATH, "//input[@placeholder='Search locations']")
location_search.click()

time.sleep(3)
location_search.send_keys("Noida")

In [590]:
#location_search.send_keys("Noida")
location_select = driver.find_element(By.XPATH, "//input[@id='location_Noida']")
location_select.click()
#time.sleep(3)

In [591]:
Company_name = []
Company_rating = []
No_days_of_job_posted = []

company = driver.find_elements(By.XPATH, "//p[@class='company body-medium']")
rating = driver.find_elements(By.XPATH, "//span[@class='body-small']")
day_of_job_posted = driver.find_elements(By.XPATH, "//div[@class='other-info']/span[1]")

for i in company: Company_name.append(i.text)
for i in rating: Company_rating.append(i.text)
for i in day_of_job_posted : No_days_of_job_posted.append(i.text)

In [582]:
#print(len(Company_name),len(Company_rating),len(No_days_of_job_posted))

jobdata = pd.DataFrame({'Company':Company_name,'rating':Company_rating, 'days': No_days_of_job_posted})
jobdata

                                          Company rating      days
0  Optum Global Solutions (India) Private Limited    4.1    6d ago
1  BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED    4.3    4d ago
2                                          EY GDS    3.8    6d ago
3               GLOBALLOGIC INDIA PRIVATE LIMITED    4.0    4d ago
4                   GENPACT India Private Limited    4.0   26d ago
5                                         Genpact    4.0   28d ago
6        Ericsson India Global Services Pvt. Ltd.    4.3  1mon ago
7                         Dew Solutions Pvt. Ltd.    4.3   11d ago
8                    One97 Communications Limited    3.8   19d ago
9                                              EY    3.8  1mon ago

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:

First get the webpage https://www.ambitionbox.com/
Click on the salaries option as shown in the image
After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
Store the data in a dataframe.

In [9]:
# Lets first connect to the driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [10]:
driver.maximize_window()

In [11]:
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

In [12]:
click_search_button = driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a")
click_search_button.click()
time.sleep(3)

In [14]:
search_item = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_item.send_keys("Data Scientist")
time.sleep(1)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input"}
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0068DF13+2219795]
	Ordinal0 [0x00622841+1779777]
	Ordinal0 [0x0053423D+803389]
	Ordinal0 [0x00563025+995365]
	Ordinal0 [0x005631EB+995819]
	Ordinal0 [0x00590F52+1183570]
	Ordinal0 [0x0057E844+1108036]
	Ordinal0 [0x0058F192+1175954]
	Ordinal0 [0x0057E616+1107478]
	Ordinal0 [0x00557F89+950153]
	Ordinal0 [0x00558F56+954198]
	GetHandleVerifier [0x00982CB2+3040210]
	GetHandleVerifier [0x00972BB4+2974420]
	GetHandleVerifier [0x00726A0A+565546]
	GetHandleVerifier [0x00725680+560544]
	Ordinal0 [0x00629A5C+1808988]
	Ordinal0 [0x0062E3A8+1827752]
	Ordinal0 [0x0062E495+1827989]
	Ordinal0 [0x006380A4+1867940]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77DC90AF+1215]
	RtlGetFullPathName_UEx [0x77DC907D+1165]

In [15]:
click_search_button = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
click_search_button.click()
time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button"}
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0068DF13+2219795]
	Ordinal0 [0x00622841+1779777]
	Ordinal0 [0x0053423D+803389]
	Ordinal0 [0x00563025+995365]
	Ordinal0 [0x005631EB+995819]
	Ordinal0 [0x00590F52+1183570]
	Ordinal0 [0x0057E844+1108036]
	Ordinal0 [0x0058F192+1175954]
	Ordinal0 [0x0057E616+1107478]
	Ordinal0 [0x00557F89+950153]
	Ordinal0 [0x00558F56+954198]
	GetHandleVerifier [0x00982CB2+3040210]
	GetHandleVerifier [0x00972BB4+2974420]
	GetHandleVerifier [0x00726A0A+565546]
	GetHandleVerifier [0x00725680+560544]
	Ordinal0 [0x00629A5C+1808988]
	Ordinal0 [0x0062E3A8+1827752]
	Ordinal0 [0x0062E495+1827989]
	Ordinal0 [0x006380A4+1867940]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77DC90AF+1215]
	RtlGetFullPathName_UEx [0x77DC907D+1165]

In [16]:
Company_name = []
Total_Salary_Records = []
Average_Salary = []
Minimum_Salary = []
Maximum_Salary = []

In [17]:
company_name = driver.find_elements(By.XPATH,"//div[@class='company-info']")

for i in company_name:
    Company_name.append(i.text)

salary_records = driver.find_elements(By.XPATH,"//div[@title='Salary']")
for i in salary_records:
    Total_Salary_Records.append(i.text)
    
avg_salary = driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in avg_salary:
    Average_Salary.append(i.text)

    min_salary = driver.find_elements(By.XPATH,"//div[@class='salary-values']")
for i in min_salary: 
    Minimum_Salary.append(i.text.split("\n")[0])

    max_salary = driver.find_elements(By.XPATH,"//div[@class='salary-values']")
for i in max_salary:
    Maximum_Salary.append(i.text.split("\n")[1])

NameError: name 'min_salary' is not defined

In [18]:
print(len(Company_name),len(Total_Salary_Records),len(Average_Salary),len(Minimum_Salary),len(Maximum_Salary))

0 0 0 0 0

In [19]:
Salary = pd.DataFrame({'Company_name':company_name,'Total_Salary_Records':Total_Salary_Records,'Average_Salary':Average_Salary,'Minimum_Salary':Minimum_Salary,'Maximum_Salary':Maximum_Salary})
Salary

Empty DataFrame
Columns: [Company_name, Total_Salary_Records, Average_Salary, Minimum_Salary, Maximum_Salary]
Index: []